/*
 * Stylesheet uses flexfox and media queries
 * for responsiveness
 */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*
 * 16px font-size and 1.2em line-height
 * to ensure readability and ease of use
 * with tap links on smaller viewports
 */
body {
  font-family: Roboto;
  font-size: 16px;
  color: #424242;
  line-height: 1.2em;
}

p, h1, h2, h3, h4, h5 {
  margin: 0; 
}

/*
 * Sets the horizontal rule height and color
 */
hr {
  border: none;
  height: 0.35em;
  background-color: #7d97ad;
}

/*
 * Prevents images from overflowing the container
 */
img {
  max-width: 100%;
}

/*
 * Responseive image size
 */
.app-image {
  width: 100%;
}

/*
 * Responsive background image
 */
.background {
  width: 100%;
  position: relative;
  background-image: url(../images/background-1086840_960_720.png);
  background-size: cover;
  min-height: 300px;
}

.featured-work {
  width: 100%;
}

header, nav, section, article, div {
  box-sizing: border-box;
}

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header-logo {
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header-title {
  font-weight: 300;
  font-size: 3em;
  margin: 1em 0.25em 0 0;
  display: inline-block;
  color: #212121;
  text-align: right;
  width: 100%;
}

.header-subtitle {
  font-weight: 300;
  font-size: 16px;
  margin: 0 0.25em 0 0;
  display: inline-block;
  color: #212121;
  text-align: right;
  width: 98%;
  text-transform: uppercase;
}

/*
 * Main
 */

 main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Use flexbox for content area
 */
.content {
  display: flex;
  flex-wrap: wrap;
}

.article-1 {
  width: 100%;
  display: inline-block;
  margin-top: .75em;
}

.article-2 {
  width: 100%;
  display: inline-block;
  margin-top: .75em;
}

.article-3 {
  width: 100%;
  display: inline-block;
  margin-top: .75em;
}

a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #2d3c49;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
}

.featured-work-heading {
  margin-top: 1em;
  margin-left: 0.25em;
  font-weight: 400;
  color: #7d97ad;
}

/*
 * Decrease header-logo and header-title size on smaller viewports
 */
@media screen and (max-width: 610px) {
  .header-logo {
      height: 48px;
      margin-right: 0.5em;
  }

  .header-title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom;
  }
}

/*
 * Display 1st and 2nd featured applications inline
 * and 3rd below
 */
 @media screen and (min-width: 450px) {
  .article-1, .article-2 {
    width: 49%;
  }
}

/*
 * Display featured application inline on larger viewports
 */
@media screen and (min-width: 650px) {
  .article-1, .article-2 {
    width: 30%;
    margin-right: 1.5em;
  }

  .article-3 {
    width: 30%;
  }
}

/*
 * Fix width for larger viewports and
 */
@media screen and (min-width: 800px) {
  main, .header, .nav, .content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}